.page {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  min-height: calc(100dvh - var(--nav-height));
  padding: var(--space-6) var(--space-4);
  background-color: var(--color-background);
}

.title {
  font-size: var(--font-size-xl);
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-3);
}

.cardLink {
  display: block;
}

.label {
  font-size: var(--font-size-sm);
  color: var(--color-text-disabled);
  margin-bottom: var(--space-2);
}

.value {
  font-size: var(--font-size-xl);
  font-weight: 700;
}
